/* MODAL EDIT */
.modal-header
{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.home_modal_btn_close
{
    color: #000;
}
.modal-body form div
{
    margin-bottom: 15px;
}

#btnAddUser
{
    background: #0067b7;
    color: #fff;
}

#btnEditUser
{
    background: #4993da;
    color: #fff;
}

#btnDeleteUser
{
    background: #0067b7;
    color: #fff;
}
